@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --subsubtitle: #979797;
    --bg-button: #e9e6e3;
    --background: linear-gradient(45deg, #102d71 0%, #000000 50%, #c12a23 100%);
    --alt-title: #ffc049;
    --alt-title-hover: #ffd077;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background);
    color: var(--title);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    width: 8%;
    min-width: 75px;
    margin: 25px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

.container {
    width: 80vw;
    min-width: 320px;
    max-width: 1000px;
    margin: 25px;
    display: flex;
    gap: 50px;
}

p {
    font-size: .75em;
    text-align: center;
}

#movieImage, #movieInfo {
    width: 50%;
}

#movieInfo {
    display: flex;
    flex-direction: column;
}

.titleLink {
    font-size: 1.25em;
    text-decoration: none;
    color: var(--title);
    letter-spacing: -1px;
}

#movieImage {
    display: flex;
    justify-content: end;
}

#moviePoster {
    width: 300px;
    height: 450px;
    display: none;
    /* justify-content: center; */
}

#movieGenre {
    margin: -5px 0 10px;
    font-size: 1em;
    text-align: start;
    color: var(--subsubtitle);
}

#movieRuntime {
    text-align: start;
    font-size: .85em;
    margin-top: auto;
}

#movieRating {
    text-align: start;
    font-size: .85em;
    margin: -10px 0 10px 0;
}

.noDescLink {
    text-decoration: none;
    color: var(--alt-title);
}

.noDescLink:hover {
    color: var(--alt-title-hover);
}

.noDescText {
    font-size: 1em;
    text-align: start;
}

.noDescImg {
    filter: invert(1);
    height: 20px;
}

button {
    padding: 8px 0;
    background-color: var(--bg-button);
    font-weight: 500;
    font-size: .85em;
    border: 1px solid transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 180px;
    margin-top: 20px;
}

button:hover {
    filter: brightness(1.2);
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    border: 1px solid rgb(192, 192, 192);
}

button:active {
    cursor: pointer;
    background-color: #c12a23;
    color: white;
}

#button-img {
    height: 20px;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90vw;
        margin: 10px;
        display: flex;
        flex-direction: column;
    }
    #movieImage, #movieInfo {
        width: 100%;
    }
    #movieImage {
        justify-content: center;
    }
    #moviePoster {
        height: auto;
        width: 80%;
    }

}